@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-100;
}

select{
  @apply focus:outline-none;
  @apply border-2;
  @apply rounded;
  @apply bg-white;
  @apply border-gray-400;
  @apply focus:border-primary-400;
  @apply disabled:bg-gray-200;
  @apply disabled:cursor-not-allowed;
}

input, textarea{
  @apply focus:outline-none;
  @apply border-2;
  @apply rounded;
  @apply bg-white;
  @apply border-gray-400;
  @apply focus:border-primary-400;
  @apply disabled:bg-gray-200;
  @apply disabled:cursor-not-allowed;
}

button {
  @apply focus:outline-none;
}

.datetime > input {
  @apply w-full;
  @apply h-full;
  @apply p-2;
}